<template>
  <div>
    <button
      @click="onClick();$emit('enlarge-text',0.1)"
      :style="{background:color}"
      class="btn"
    >{{text}}</button>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Button",
  props: {
    text: String,
    color: String
  },
  methods: {
    onClick() {
      console.log("button is clicked");
    }
  }
};
</script>

<style scoped>
.btn {
  background-color: #4caf50;
  color: antiquewhite;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
}
</style>