<template>
  <div>
    <input type="text" v-model="name" />
    <br />
    {{name}}
  </div>
</template>

<script>
export default {
  name: "Details",
  data() {
    return {
      name: "Anuj"
    };
  }
};
</script>