<template>
  <header>
    <h1>{{title}}</h1>
    <!--passing the data from child to parent component using $event-->
    <Button text="add Task" color="green" @enlarge-text="enlarge($event)">Slot use</Button>
    <br />
    <Button text="delete Task" color="red" />
    <br />
    <Button text="update Task" color="blue" />
    <br />
    <span v-once>{{msg}}</span>
    <br />
    <p>
      Using v-html directive:
      <span v-html="rawHtml"></span>
    </p>
    <br />
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <br />
    {{ number + 1 }}
    <br />
    {{ ok ? 'YES' : 'NO' }}
    <br />
    {{ message.split('').reverse().join('') }}
    <br />
    <!--data binding-->
    <div v-bind:id="'list-' + id">Night</div>
    <!--conditional rendering-->
    <p v-if="seen">Now you see me</p>
    <!--event modifier-->
    <form v-on:submit.prevent="onSubmit">
      <input type="text" name="planet" id="planet" v-model="message" />
    </form>
    <a :href="url" target="_blank">Google</a>
    <div id="example" :class="{ active: isActive }">
      <p>Original message: "{{ message }}"</p>
      <!--computed value-->
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>
    <!--class binding-->
    <div :class="[activeClass, errorClass]">Class Binding</div>
    <div v-bind:style="styleObject">Style Binding</div>
    <div v-if="Math.random() > 0.5">Now you see me</div>
    <div v-else>Now you don't</div>
    <h1 v-show="ok">Hello!</h1>
    <!--loop iteration-->
    <ul>
      <li v-for="item in items" :key="item.message">{{ item.message }}</li>
    </ul>
    <div v-for="(value, name)  in object" :key="name in object">{{ name }}: {{ value }}</div>
    <ol>
      <li v-for="n in evenNumbers" :key="n in numbers">{{ n }}</li>
    </ol>
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </header>
</template>

<script>
import Button from "./button";

export default {
  name: "header",
  //   props: ["title"]
  data() {
    return {
      msg: "Happy , Aren't you?",
      rawHtml: "<h3>Thor</h3>",
      isButtonDisabled: true,
      number: 34,
      ok: true,
      message: "Driving in the edge of knife",
      id: 6,
      seen: false,
      url: "https://www.google.com",
      isActive: false,
      activeClass: "active",
      errorClass: "text-danger",
      styleObject: {
        color: "blue",
        fontSize: "20px"
      },
      items: [{ message: "Foo" }, { message: "Bar" }],
      object: {
        title: "How to do lists in Vue",
        author: "Jane Doe",
        publishedAt: "2016-04-10"
      },
      numbers: [1, 2, 3, 4, 5, 12, 14, 20],
      counter: 0
    };
  },
  props: {
    title: {
      type: String,
      default: "Good Morning"
    }
  },
  components: {
    Button
  },
  methods: {
    onSubmit() {
      console.log("form is submitted");
    },
    enlarge($event) {
      console.log("enlarge is clicked ", $event);
    }
  },
  computed: {
    reversedMessage() {
      return this.message
        .split(" ")
        .reverse()
        .join(" ");
    },
    evenNumbers() {
      return this.numbers.filter(number => {
        return number % 2 == 0;
      });
    }
  },
  //watch is used to perform asynchronous or expensive operations in response to changing data.
  watch: {
    message: function() {
      console.log("message is changed");
    }
  }
};
</script>

<style scoped>
.active {
  color: aqua;
}
.text-danger {
  background: brown;
}
</style>

