<template>
  <div>
    <div v-for="task in tasks" :key="task.id">
      <h3>{{task.text}}</h3>
    </div>
  </div>
</template>

<script>
import mixin from "../mixin";
export default {
  name: "Tasks",
  mixins: [mixin],
  props: {
    tasks: Array
  },
  created() {
    console.log(this.$data);
  }
};
</script>