<template>
	<div class="container">
		<Header title="Hello World" />
		<br />
		<Tasks :tasks="works" />
		<br />
		<Details />
		<br />
	</div>
</template>

<style>
.container {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	align-items: center;
	margin: 20px 720px 20px 40px;
	border: 3px solid pink;
	padding: 20px 10px 100px 20px;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 30px;
}

#nav a {
	font-weight: bold;
	color: #2c3e50;
}

#nav a.router-link-exact-active {
	color: #42b983;
}
</style>

<script>
import Header from "./components/header";
import Tasks from "./components/tasks";
import Details from "./components/Details";
// saisuresh.arumugam@card91.io
export default {
	name: "App",
	components: {
		// HelloWorldr
		Header,
		Tasks,
		Details,
	},
	data() {
		return {
			works: [],
		};
	},
	created() {
		this.works = [
			{
				id: 1,
				text: "Doctor appointment",
				alert: true,
			},
			{
				id: 2,
				text: "Meeting at 2:30 PM",
				alert: true,
			},
			{
				id: 3,
				text: "Food Shopping",
				alert: false,
			},
		];
	},
};
</script>
